
<section>
    <button class = 'rectangleButton' onclick = 'funcion2()' id = 'Head'>
        <h4>Head</h4>
         <img class = 'headImg' href = ''>
    </button>
    <button class = 'rectangleButton' onclick = 'funcion2()' id = 'Torso'>
        <h4>Torso</h4>
         <img class = 'torsoImg' href = ''>
    </button>
    <button class = 'rectangleButton' onclick = 'funcion2()' id = 'Limbs'>
        <h4>Limbs</h4>
         <img class = 'limbsImg' href = ''>
    </button>
    <section>
        <button class = 'squareButton' onclick = 'funcion2()' id = 'chat'>
            <img class = 'chatImg' href = ''>
        </button>        
    </section>
</section>
