
<section class="align-all-center">
    <h1> Select Body Part </h1>
    <a class="button-align-center" href="/appointment/patient/new/parameters/pain/body/scale">
        <button class = 'rectangleButton' onclick = 'funcion2()' id = 'Head'>
            <h4>Head</h4>
            <img class = 'headImg' href = ''>
        </button>
    </a>
    <a class="button-align-center" href="">
        <button class = 'rectangleButton' onclick = 'funcion2()' id = 'Torso'>
            <h4>Torso</h4>
            <img class = 'torsoImg' href = ''>
        </button>
    </a>
    <a class="button-align-center" href="">
        <button class = 'rectangleButton' onclick = 'funcion2()' id = 'Limbs'>
            <h4>Limbs</h4>
            <img class = 'limbsImg' href = ''>
        </button>
    </a>
    <section>
        <a href="">
            <button class = 'footerImg' onclick = 'funcion2()' id = 'chat'>
                <img class = 'chatImg' src = '/images/speak.svg'>
            </button>   
        </a>     
    </section>
</section>
