<section>
    <a href="">
        <button class = 'rectangleButton'>Pain</button>
    </a>
    <a href="">
        <button class = 'rectangleButton'>Thirst</button>
    </a>
    <a href="">
        <button class = 'rectangleButton'>Toilet</button>
    </a>
    <a href="">
        <button class = 'rectangleButton'>Breathe</button>
    </a>
    <a href="">
        <button class = 'rectangleButton'>Hot</button>
    </a>
    <a href="">
        <button class = 'rectangleButton'>Hunger</button>
    </a>
</section>

<a href="">
    <button class = 'rectangleButton' id = 'HomePage'>Home page</button>
</a>
