<div>
    <button class = 'rectangleButton' onclick = 'funcion2()' id = 'Head'>Pain</button>
    <button class = 'rectangleButton' onclick = 'funcion2()' id = 'Head'>Thirst</button>
</div>

<div>
    <button class = 'rectangleButton' onclick = 'funcion2()' id = 'Head'>Toilet</button>
    <button class = 'rectangleButton' onclick = 'funcion2()' id = 'Head'>Breathe</button>

<button class = 'rectangleButton' onclick = 'funcion2()' id = 'Head'>Body Temperature</button>
<button class = 'rectangleButton' onclick = 'funcion2()' id = 'Head'>Appetite</button>
</div>


<button class = 'rectangleButton' onclick = 'funcion2()' id = 'HomePage'>Home page</button>


NOT FINISHED!!