
{{!-- <h1>{{title}}</h1> --}}
{{!-- <p>Welcome to {{title}}</p> --}}

<section class ='outerWrapper'>

    <section class = 'leftWrapper'>
        <button class = 'ImgRectangleButton' onclick = 'funcion1()' id = 'medicalApp'>
            <h4>Medical Appointment</h4>
            <img class = 'appointmentImg' href = ''>
        </button>
        <button class = 'ImgRectangleButton' onclick = 'funcion2()' id = 'communication'>
            <h4>Communicate Now</h4>
            <img class = 'communicationImg' href = ''>
        </button>
    </section>

    <section class = 'rightWrapper'>
        <button class = 'roundButton' onclick = 'funcion3()' id = 'bell'>~
            <img class = 'bellImg' href = ''>
        </button>
    </section>

</section>
