

<section class ='outerWrapper'>

    <section class = 'leftWrapper'>
        <a href="/authentication/sign-in">
            <img class = 'appointmentImg' src = '/images/stethoscope.svg'>
            <h1>Medical Appointment</h1>
        </a>
      <a href="/">
            <img class = 'communicationImg' src= '/images/speak.svg'>
            <h1>Communicate Now</h1>
      </a>
    </section>

    <section class = 'rightWrapper'>
        <a href="">
            <img class = 'bellImg' src = '/images/BELL.svg'>
        </a>
    </section>

</section>
