<title>How much pain</title>
{{!-- <form action="" method="POST" id="pain-scale-form">
    <input style="visibility: hidden;" id="pain-1" name="pain"  type="number" value="1">   
    <button>1</button>
</form> --}}

<form action="" method="POST" id="pain-scale-form">
    <div>
    <input id="pain-1" name="pain"  type="radio" value="1">
    <label for="pain">1</label>

    <input id="pain-1" name="pain"  type="radio" value="2">
    <label for="pain-2">2</label> 

    <input id="pain-3" name="pain"  type="radio" value="6">
    <label for="pain-3">3</label>

    <input id="pain-4" name="pain"  type="radio" value="3">
    <label for="pain-4">4</label> 

    <input id="pain-5" name="pain"  type="radio" value="4">
    <label for="pain-5">5</label> 


    <button>Confirm</button>
</form>


{{!-- <section>
    <a href="">
        <button class = 'squareButton' id = 'chat'>
            <img class = 'chatImg' href = ''>
        </button>    
    </a>    
</section> --}}