<section class="align-all-center">

    <h1>How much pain</h1>
    <table>
        <tr>
        <td><a class="scale-button" href="#"><button id = 'Pain1'>1</button></a></td>
            <td><a class="scale-button" href="/appointment/patient/new/parameters"><button id = 'Pain2'>2</button></a></td>
            <td><a class="scale-button" href="/appointment/patient/new/parameters"><button id = 'Pain3'>3</button></a></td> 
            <td><a class="scale-button" href="/appointment/patient/new/parameters"><button id = 'Pain4'>4</button></a></td>
            <td><a class="scale-button" href="/appointment/patient/new/parameters"><button id = 'Pain5'>5</button></a></td>
        </tr>
        <tr>
            {{!-- <td><a href="/appointment/patient/new/parameters"><button id = 'ConfirmButton'>Confirm</button></a></td> --}}
        </tr>



    </table>
</section>


    <section>
        <a href="">
            <button class = 'footerImg' id = 'chat'>
                <img src = '/images/TALK.svg' alt="Talk now" class = 'chatImg' >
            </button>   
        </a>     
    </section>

