<section class="align-all-center">

    <h1>How much pain</h1>
    <table>
        <tr>
        <td><a href="#"><button class = 'squareButton' id = 'Pain1'>1</button></a></td>
            <td><a class="scale-button" href="#"><button class = 'squareButton' id = 'Pain2'>2</button></a></td>
            <td><a href="#"><button class = 'squareButton' id = 'Pain3'>3</button></a></td> 
            <td><a href="#"><button class = 'squareButton' id = 'Pain4'>4</button></a></td>
            <td><a href="#"><button class = 'squareButton' id = 'Pain5'>5</button></a></td>
        </tr>
        <tr>
            <td><a href="#"><button class = 'squareButton' id = 'ConfirmButton'>Confirm</button></a></td>
        </tr>



    </table>
</section>


<section>
    <a href="">
        <button class = 'squareButton' id = 'chat'>
            <img class = 'chatImg' href = ''>
        </button>    
    </a>    
</section>

