<title>How much pain</title>
<table>
    <tr>
       <td><button class = 'squareButton' onclick = 'funcion1()' id = 'Pain1'>1</button></td>
        <td><button class = 'squareButton' onclick = 'funcion2()' id = 'Pain2'>2</button></td>
        <td><button class = 'squareButton' onclick = 'funcion3()' id = 'Pain3'>3</button></td> 
    </tr>
    <tr>
        <td><button class = 'squareButton' onclick = 'funcion4()' id = 'Pain4'>4</button></td>
        <td><button class = 'squareButton' onclick = 'funcion5()' id = 'Pain5'>5</button></td>
        <td><button class = 'squareButton' onclick = 'funcion2()' id = 'Pain6'>6</button></td> 
    </tr>
    <tr>
        <td><button class = 'squareButton' onclick = 'funcion2()' id = 'Pain7'>7</button></td>
        <td><button class = 'squareButton' onclick = 'funcion2()' id = 'Pain8'>8</button></td>
        <td><button class = 'squareButton' onclick = 'funcion2()' id = 'Pain9'>9</button></td> 
    </tr>
    <tr>
        <td><button class = 'squareButton' onclick = 'funcion2()' id = 'Pain10'>10</button></td>
        <td><button class = 'squareButton' onclick = 'funcion2()' id = 'ConfirmButton'>Confirm</button></td>
    </tr>

</table>

<section>
    <button class = 'squareButton' onclick = 'funcion2()' id = 'chat'>
        <img class = 'chatImg' href = ''>
    </button>        
</section>