<section class="align-all-center">
    <a href="">
        <button class = 'rectangleButton' id = 'Temp'>
            <h3>Body Temperature</h4>
        </button>
    </a>
    <a href="">
        <button class = 'rectangleButton' id = 'Breath'>
            <h3>Breath</h4>
        </button>
    </a>
    <a href="/appointment/patient/new/parameters/pain">
        <button class = 'rectangleButton' id = 'Pain'>
            <h3>Pain</h4>
        </button>
    </a>
    <a href="">
        <button class = 'rectangleButton' id = 'Appetite'>
            <h3>Appetite</h4>
        </button>
    </a>
    <a href="">
        <button class = 'rectangleButton' id = 'Mood'>
            <h3>Mood</h3>
        </button>
    </a>
</section>
    <section>
        <a href="">
            <button class = 'footerImg' onclick = 'funcion2()' id = 'chat'>
                <img class = 'chatImg' src = 'images/speak.svg'>
            </button>   
        </a>     
    </section>