<section>
    <button class = 'rectangleButton' onclick = 'funcion1()' id = 'Temp'>
        <h4>Body Temperature</h4>
    </button>
    <button class = 'rectangleButton' onclick = 'funcion2()' id = 'Breath'>
        <h4>Breath</h4>
    </button>
    <button class = 'rectangleButton' onclick = 'funcion1()' id = 'Pain'>
        <h4>Pain</h4>
    </button>
    <button class = 'rectangleButton' onclick = 'funcion2()' id = 'Appetite'>
        <h4>Appetite</h4>
    </button>
    <button class = 'rectangleButton' onclick = 'funcion2()' id = 'Mood'>
        <h4>Mood</h4>
    </button>
</section>