<section>

    <header>
        <h1> {{name}} - {{pathology}} </h1>
    </header>
    <section>
        <button class = 'rectangleButton' onclick = 'funcion1()' id = 'medicalRec'>
            <h4>Medical Record</h4>
        </button>
        <button class = 'rectangleButton' onclick = 'funcion2()' id = 'medicalEval'>
            <h4>New Medical Evaluation</h4>
        </button>
    </section>

</section>
